@media (max-width: 720px) {
    .position {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .wrap {
        flex-direction: column;
    }

    .vooooo {
        flex-direction: column;
    }

    .photo_printf img {
        max-width: 400px;
    }
}

@media (max-width: 1160px) {
    .pis {
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    .oplata_secruriti {
        flex-direction: column;
    }

    .kurs_11 {
        max-width: 300px;
    }
}